Flows Node-red/CARRO PWM.json
[
    {
        "id": "outCmd",
        "type": "mqtt out",
        "z": "e36e938edd0b6079",
        "name": "MQTT car/cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bkr1",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "outSpeed",
        "type": "mqtt out",
        "z": "e36e938edd0b6079",
        "name": "MQTT car/speed",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bkr1",
        "x": 810,
        "y": 370,
        "wires": []
    },
    {
        "id": "txtSpeed",
        "type": "ui_text",
        "z": "e36e938edd0b6079",
        "group": "grpSpeed",
        "order": 2,
        "width": "8",
        "height": "1",
        "name": "Shown speed",
        "label": "Publishing speed:",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "inState",
        "type": "mqtt in",
        "z": "e36e938edd0b6079",
        "name": "MQTT car/state",
        "topic": "car/state",
        "qos": "0",
        "datatype": "auto",
        "broker": "bkr1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 490,
        "wires": [
            [
                "txtState"
            ]
        ]
    },
    {
        "id": "txtState",
        "type": "ui_text",
        "z": "e36e938edd0b6079",
        "group": "grpTele",
        "order": 1,
        "width": "8",
        "height": "1",
        "name": "State",
        "label": "Car state:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 450,
        "y": 500,
        "wires": []
    },
    {
        "id": "mapSpeedPctToSPD",
        "type": "function",
        "z": "e36e938edd0b6079",
        "name": "pct 0-100 → SPD:0-255",
        "func": "let pct = Number(msg.payload);\nif (isNaN(pct)) return null;\nif (pct < 0) pct = 0; if (pct > 100) pct = 100;\nlet duty = Math.round(pct * 255 / 100);\nmsg.topic = \"car/cmd\";\nmsg.payload = `SPD:${duty}`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 370,
        "wires": [
            [
                "outSpeed"
            ]
        ]
    },
    {
        "id": "fcec81d9100d6e28",
        "type": "ui-button",
        "z": "e36e938edd0b6079",
        "group": "7d3bca6f43256168",
        "name": "FORWARD",
        "label": "FORWARD",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "car/cmd",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": false,
        "enablePointerdown": true,
        "pointerdownPayload": "F",
        "pointerdownPayloadType": "str",
        "enablePointerup": true,
        "pointerupPayload": "S",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 150,
        "wires": [
            [
                "outCmd"
            ]
        ]
    },
    {
        "id": "d618b629888b1937",
        "type": "ui-button",
        "z": "e36e938edd0b6079",
        "group": "7d3bca6f43256168",
        "name": "BACKWARDS",
        "label": "BACKWARDS",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "car/cmd",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": false,
        "enablePointerdown": true,
        "pointerdownPayload": "B",
        "pointerdownPayloadType": "str",
        "enablePointerup": true,
        "pointerupPayload": "S",
        "pointerupPayloadType": "str",
        "x": 240,
        "y": 210,
        "wires": [
            [
                "outCmd"
            ]
        ]
    },
    {
        "id": "de83b83ca3335fdf",
        "type": "ui-button",
        "z": "e36e938edd0b6079",
        "group": "7d3bca6f43256168",
        "name": "RIGHT",
        "label": "RIGHT",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "car/cmd",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": false,
        "enablePointerdown": true,
        "pointerdownPayload": "R",
        "pointerdownPayloadType": "str",
        "enablePointerup": true,
        "pointerupPayload": "S",
        "pointerupPayloadType": "str",
        "x": 220,
        "y": 270,
        "wires": [
            [
                "outCmd"
            ]
        ]
    },
    {
        "id": "9e7a9b5197b5a758",
        "type": "ui-button",
        "z": "e36e938edd0b6079",
        "group": "7d3bca6f43256168",
        "name": "LEFT",
        "label": "LEFT",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "car/cmd",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": false,
        "enablePointerdown": true,
        "pointerdownPayload": "L",
        "pointerdownPayloadType": "str",
        "enablePointerup": true,
        "pointerupPayload": "S",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 330,
        "wires": [
            [
                "outCmd"
            ]
        ]
    },
    {
        "id": "3d7ffde1c18ec600",
        "type": "ui-slider",
        "z": "e36e938edd0b6079",
        "group": "5da1aa381aa5c189",
        "name": "SPEED",
        "label": "SPEED",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 220,
        "y": 410,
        "wires": [
            [
                "mapSpeedPctToSPD",
                "txtSpeed"
            ]
        ]
    },
    {
        "id": "bkr1",
        "type": "mqtt-broker",
        "name": "Public Mosquitto",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "grpSpeed",
        "type": "ui_group",
        "name": "Speed",
        "tab": "tab1",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "grpTele",
        "type": "ui_group",
        "name": "Telemetry",
        "tab": "tab1",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "7d3bca6f43256168",
        "type": "ui-group",
        "name": "Controls",
        "page": "d926bbc5ed7b45b5",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5da1aa381aa5c189",
        "type": "ui-group",
        "name": "SPEED",
        "page": "d926bbc5ed7b45b5",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Pre-Triage",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d926bbc5ed7b45b5",
        "type": "ui-page",
        "name": "Car",
        "ui": "9700abd5c67de3af",
        "path": "",
        "icon": "home",
        "layout": "grid",
        "theme": "ef59b745de37196a",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "9700abd5c67de3af",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "ef59b745de37196a",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "792d8bc83a51927d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]